
body{margin:0px;}

.header{
        background-color:#87cefa;
        padding:1px 30px 70px 30px;
}


.header-logo{font-size:36px;
            float:left;
            padding:20px;
}

H1{
  color: #eeeeee;
  background: #0f3d6f;
  border-width: 0px 0px 5px 5px;
  font-size: xx-large;
  text-align: left;
  padding: 15px;}


h2 {
  color: #664444;
  background: #ffffcc;
  font-size: x-large;
  text-align: left;
  padding: 10px 20px;
}


li{font-size:20px;
  list-style:none;
  float:left;
  padding:15px 20px;
}

.main{ border-top:1px solid #333;
background-color:#32adfa;
}
